
<strong>Excursion:</strong><br>
  <%= @excursion.title %>
</p>

<% @excursion.comments.each do |comment| %>
	<hr>
	<p>
	<i><%= comment.autor %> </i><br />
	</p>
	<p>
	<i><%= comment.body %> </i><br />
	</p>
  <p>
  <i><%= comment.excursion_id %> </i><br />
  </p>
  <p>
  <i><%= comment.id %> </i><br />
  </p>
   <div>
    <tr>
      <td>
        <%= link_to 'Destroy', comment_path( comment ), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
  </div>

<% end %>

<%= form_for([@excursion, @excursion.comments.build]) do |f| %>
	  <div class="field">
    <%= f.label :autor %>
    <%= f.text_area :autor %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.number_field :body %>
  </div>
   <div class="field">
    <%= f.submit %>
  </div>

<% end %>
